.download {
    background: url('../img/bg/footer_bg.jpg') center center/cover no-repeat;
    min-height: 516px;
    padding: 9.5% 0 0 0;
    text-align: center;
    color: #ffffff;

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.425;
        letter-spacing: 0.2px;
    }

    &__subtitle {
        margin-top: 20px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.58;
        letter-spacing: 0.2px;
    }

    &__btns {
        display: flex;
        margin-top: 60px;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        display: flex;
        width: 142px;
        height: 64px;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0.2px;
        color: #ffffff;
        transition: background $normal, border $normal;
        cursor: pointer;
        &:last-child {
            width: 173px;
            margin-left: 1%;
        }
        &:hover {
            background: $main-color;
            border: none;
        }
    }
}