h1, h2, h3, h4 {
    margin: 0;
    margin-block: unset;
    margin-inline: unset;
}

.hamburger {
	display: none;
}

body {
    font-family: $montserrat-font;
    min-width: 320px;
}

.overflow-h {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

a {
    color: #000000;
    text-decoration: none;
    &:hover {
        color: $main-color;
    }
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.divider {
    position: relative;
    width: 100%;
    margin-top: -9%;
    z-index: 2;
    .divider-block {
        width: 61.4%;
        margin: 0 auto;
        padding-bottom: 123px;
        border-bottom: 3px solid #E4E4E4;
    
        &__img {
            display: block;
            margin: 0 auto;
            object-fit: contain;
        }
    }
}
