@media (max-width: $screen-large) {

}

@media (max-width: $screen-medium) {
    .hamburger {
        display: block;
    }

    .header {
        &__links {
            flex-direction: column;
            justify-content: center;
            min-height: 500px;
            height: auto;
            margin-left: 0;
        }

        &__menu {
            display: flex;
            justify-content: center;
            height: 100vh;
            
            position: fixed;
            width: 100%;
            max-width: inherit;
            top: 0;
            left: -100%;
            background-color: $main-color;
            transition: 0.6s all;
            z-index: 2;
            overflow-y: auto;
            
            &_active {
                left: 0;
            }
        }

        &__logo {
            order: 2;
        }

        &__item {
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        }

        &__link {
            font-size: 28px;
            line-height: 1.16;
            color: #fff;
            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }

    .promo {
        &__title {
            font-size: 44px;
        }
        &__suptitle, &__subtitle {
            font-size: 21px;
        }
        &__btns {
            margin-top: 83px;
            flex-direction: column;
        }
        &__btn {
            margin-top: 50px;
            &:first-child {
                margin-top: 0;
            }
        }
    }

    .divider img {
        width: 100%;
    }

    .functions {

        &__wrapper {
            margin-top: 69px;
        }

        &__item {
            margin-top: 86px;
            flex-direction: column;

            &-order {
                .functions__descr {
                    order: 2;
                }
            }

            &-title {
                font-size: 28px;
            }
            &-suptitle, &-subtitle {
                font-size: 21px;
            }
        }

        &__img-block {
            padding: 0;
        }

    }
}

@media (max-width: $screen-small) {
    .promo {
        &__btns {
            width: unset;
        }
        &__title {
            font-size: 32px;
        }
    }

    .divider {
        padding: 0 10%;
        &-block {
            width: 100% !important;
        }
    }

    .functions {
        &__title {
            font-size: 36px;
        }

        &__item {

            &-title {
                font-size: 24px;
            }
            &-suptitle, &-subtitle {
                font-size: 18px;
            }
        }

    }
}

@media (max-width: $screen-mobile) {

    .promo {
        &__title {
            font-size: 24px;
        }
        &__suptitle, &__subtitle {
            font-size: 20px;
        }
        &__btns {
            margin-top: 43px;
        }
        &__btn {
            margin-top: 36px;
            width: 100%;
        }
    }

    .functions {
        &__title {
            font-size: 32px;
        }

    }

}