.promo {
    background: url('../img/bg/promo_bg.jpg') center center/cover no-repeat;
    min-height: 619px;
    padding-top: 73px;
    margin-top: 28px;
    position: relative;
    z-index: 1;

    &__suptitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.1px;
        color: $subtitle-color;
    }

    &__title {
        margin-top: 17px;
        font: 700 58px/1.37 $poppins-font;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    &__subtitle {
        margin-top: 17px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.58;
        text-align: center;
        letter-spacing: 0.2px;
        color: #F7F7F7;
    }

    &__btns {
        max-width: 582px;
        width: 582px;
        margin: 62px auto 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        width: 236px;
        height: 68px;
        max-width: 236px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        background-color: transparent;

        border: 1px solid #FFFFFF;
        border-radius: 30px;
        box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
        outline: none;

        font-weight: 700;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        transition: background $normal, border $normal;
        cursor: pointer;
        &:hover {
            background: #FA4A0C;
            border: none;
        }
    }
}