//fonts
$montserrat-font: 'Montserrat', sans-serif;
$poppins-font: 'Poppins', sans-serif;
$roboto-font: 'Roboto', sans-serif;

//media
$screen-large: 1200px;
$screen-medium: 992px;
$screen-small: 768px;
$screen-mobile: 576px;

//colors
$main-color: #FA4A0C;